@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__edge-path {
    stroke: #6366f1 !important;
    stroke-width: 2px !important; 
  }
  
  .edge-delete-icon {
    pointer-events: all;
  }